<ion-header class="ion-no-border">
  <ion-toolbar style="background:wheat" class="main-toolbar">
   <ion-title>   
      <img src="assets/Logo.png">
    </ion-title>
    <ion-icon name="log-out" style="width:650px;" size="large" >
      
    </ion-icon>
    </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border" style="background:#faf4f4;">

  
</ion-header>

<!--footer tab-->

<ion-footer class="ion-no-border" style="background-color: #356234;">
  <ion-toolbar>
    <ion-title>Footer - No Border</ion-title>
    <ion-tabs>
      <ion-tab tab="tab-speaker">
      <ion-nav></ion-nav>
      </ion-tab>
  
      <ion-tab tab="tab-about" component="page-about">
        <ion-nav></ion-nav>
      </ion-tab>
    
      <ion-tab-bar slot="bottom" style="border: #356234;">
        <ion-tab-button tab="tab-menu" style="background:#356234;">
          <ion-icon name="menu" style="color:#F4FAF6"></ion-icon>
          <ion-label style="color:#ffffff">Menu</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="tab-home" style="background:#356234">
          <ion-icon name="home" style="color:#F4FAF6"></ion-icon>
          <ion-label style="color:#F4FAF6">Home </ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="tab-profile" style="background:#356234">
          <ion-icon name="person-circle" style="color:#ffffff"></ion-icon>
          <ion-label style="color:#F4FAF6">profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
  
    </ion-tabs>
  </ion-toolbar>   
</ion-footer>

<ion-content [fullscreen]="true">

 <div id="container"> 
  
   <div class="searchbar">
     <ion-searchbar placeholder="Find a product" no-shadow>  
     </ion-searchbar>

     <!-- Main Featured Products Section -->
   
     <div class="main-featured-products">
        <!-- ion slider for the feature products -->

      <ion-slides pager="true" [options]="options" (click)="appRating()">
        <!-- slider one -->
       <ion-slide>
         <ion-card class="main-product-card">
           <ion-card-content>
           <img src="assets/milk.jpg" />

           <ion-card-title>
            Fresh Milk 5 Litres
         </ion-card-title> 
         
           <ion-card-subtitle>
               <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
               </ion-item>

           <div class="time-icon">
            <ion-icon ios="timer-outline" md="timer"  color="warning"></ion-icon>
            5 Min
             </div>                 
          </ion-card-subtitle>
         
        </ion-card-content>
        </ion-card>
       </ion-slide>
<!-- Slider two -->
       <ion-slide>
         <ion-card class="card-wrapper main-product-card">
           <ion-card-content>
           <img src="assets/apples.jpg" />

           <ion-card-title>
             Fruits
         </ion-card-title> 
         
           <ion-card-subtitle>
               <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
               </ion-item>

           <div class="time-icon">
            <ion-icon ios="timer-outline" md="timer"  color="warning"></ion-icon>
            5 Min
             </div>                 
          </ion-card-subtitle>
         
        </ion-card-content>
        </ion-card>
        </ion-slide>

        </ion-slides>
      </div>

      <!--slideThree-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/queso fresco.png">

            <ion-card-title>
              Queso fresco
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>


      <!--slide four-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/Coca-Cola-No-Background.png">

            <ion-card-title>
              Coca Cola
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--Slide 5-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/Hersheys.png">

            <ion-card-title>
              Chocolate Hersheys
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--Slide 6-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/Arroz.png">

            <ion-card-title>
              Arroz Nicoya 10Lbs
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--Slide 7-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/aceite-oliva.png">

            <ion-card-title>
              Aceite de Oliva
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!---Slide 8-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/mantequilla.png">

            <ion-card-title>
              Mantequilla
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--Slide 9-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/salsa.png">

            <ion-card-title>
              Salsa de tomate
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      
      <!--Slide 10-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/mayonesa.png">

            <ion-card-title>
              Mayonesa
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--Slide 11-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/tortillas-tostadas.png">

            <ion-card-title>
              Tortillas tostadas
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--Slide 12-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/pack3.png">

            <ion-card-title>
              3- Pack de refrescos
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      
      <!--Slide 13-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/chorizo.png">

            <ion-card-title>
              Chorizo parrillero
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--Slide 14-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/huevos.png">

            <ion-card-title>
              Huevos 30 unidades
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--slide 15-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/carne.png">

            <ion-card-title>
              Tomahawk 1Lb
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--Slide 16-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/shampoo.png">

            <ion-card-title>
              Shampoo 375ml
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--Slide 17-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/pampers.png">

            <ion-card-title>
              Pampers 92 unidades
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--Slide 18-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/detergente.png">

            <ion-card-title>
              Detergente Tide
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--Slide 19-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/comida-perro.png">

            <ion-card-title>
              Comida para perro
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!--Slide 20-->
      <ion-slide>
        <ion-card class="card-wrapper main-product-card">
          <ion-card-content>
            <img src="assets/helado.png">

            <ion-card-title>
              Helado Dos pinos 
              Pie de limon
            </ion-card-title>
              <ion-card-subtitle>
                <ion-item lines="none" full="true" (click)="appRating()">
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>
                <ion-icon name="star"  color="warning"></ion-icon>

                </ion-item>

                <div class="time-icon">
                  <ion-icon ios="timer-outline" md="timer" color="warning"></ion-icon>
                5 min
                </div>
              </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>



    </div>
  </div>
</ion-content>
