<ion-header class="ion-no-borders">
  <ion-toolbar style="background: #FAF6F6">
    Welcome to freshfruit
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar style="background:#FAF6F6">
    <div class="small-toolbar">
      <ion-icon ios="menu-outline" md="menu-sharp" name="menu" class="icon"></ion-icon>
    </div> 
    <div class="title-toolbar">
      <String class="title">Shop</String> Here
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
 <p>Hello world</p>
</ion-content>
