<ion-header class="ion-no-borders">
  <ion-toolbar style="background: #FAF6F6" class="main-toolbar">
    Welcome to freshfruit
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border" style="background:#FAF6F6">
    
    <div class="small-toolbar">
      <ion-icon ios="menu-outline" md="menu-sharp" name="menu" class="icon"></ion-icon>
    </div> 
    <div class="title-toolbar">
      <Strong class="title">Shop here</Strong>

    </div>

</ion-header>

<ion-content [fullscreen]="true">
  <div id="content">

    <div class="seachbar">
      <ion-searchbar></ion-searchbar>
    </div>
  </div>
</ion-content>
